

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker({

      dateFormat:'dd-mm-yy'
    });
  } );
  </script>
   <div class="table-agile-info">


 <!--  <h3>Create New record</h3> -->
 
   <%= simple_form_for(@test_result) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

 
 <div class="container">
        <fieldset>
                <div class="row">
                        <div class="col-md-5">
                         <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">

                             

 



    <div class="ggg">


    <%= f.input :results,label: "Enter Test Result Here", as: :text, input_html: { rows: "4"}  %>

  </div> 

<div class="form-inputs">
  <% if (defined?(@patient_id)).nil? %>
    <%= f.input :patient_id,:as=> :hidden %>

   <% else  %>
  <%= f.input :patient_id, :as=> :hidden,input_html: {value: @patient_id} %>
<% logger.info "Rnning" %>
 <% logger.info "patient in index: #{@patient_id}" %>

  </div>



  <div class="form-inputs">
  <% if (defined?(@lab_id)).nil? %>
    <%= f.input :lab_id,:as=> :hidden %>

   <% else  %>
  <%= f.input :lab_id, :as=> :hidden,input_html: {value: @lab_id} %>
<% logger.info "Rnning" %>
 <% logger.info "patient in index: #{@lab_id}" %>
 
 <% end %>

  </div>


    <div class="form-inputs">
  <% if (defined?( @service_id)).nil? %>
    <%= f.input :service_id,:as=> :hidden %>

   <% else  %>
  <%= f.input :service_id, :as=> :hidden,input_html: {value: @service_id} %>
<% logger.info "Rnning" %>
 <% logger.info "patient in index: #{@service_id}" %>
 
 <% end %>

  </div>



                         <div class="form-inputs">
    <%= f.input :user_id, :as=> :hidden, input_html: {value: current_user.id} %>
</div>
  <div class="form-inputs">
    <%= f.input :status, :as=> :hidden, input_html: {value: 1 } %>

  </div>




   <div class="col-md-5 col-md-offset-1">
     <%= f.button :submit,"Submit", :class => 'btn-success',:style=>"width:auto;" %>
    
  </div>



        </fieldset>
        </div>

<% end %>
                                    
<% end %>


 </div>