
<section id="main-content">
  <section class="wrapper">
     
    <div class="table-agile-info">
 <div class="panel panel-default">

                             
<br>
<br>
    <div class="panel-heading">
  Lab History
    </div>
    
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>

              <th data-breakpoints="xs">No</th> 
      
      <th>Patient No</th>
      <th>Name</th>
      <th>Date</th>
      <th>Test Ordered</th>
      <th>Assigned by</th>
       
      
      <th colspan="3"></th>
      <th colspan="3"></th>
      <th colspan="3"></th>

          </tr>
        </thead>
        <tbody>
      <% count=1 %>

           <% @lab_history.each do |patient| %>
      <tr>
         
        <td><%= count %></td> 
        
          <td><%= patient.card_no%></td>
         <td><%= patient.other_names + " " +  patient.surname %></td>
      
         <td><%= patient.created_at %></td>
         <td><%= patient.lab_type %></td>
         <td><%= patient.fullname %></td>
         
          <td ><%= link_to 'Upload Results', view_lab_path(:id => patient.patient_id),{:remote => true, class:'"btn btn-warning btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal1'} %></td> 
         
       
      </tr>
       <% count=count+1 %> 
    <% end %>
       
           

        </tbody>
      </table>

       <center>


 

     </center>   

  </div>
</div>
</section>
 
</section>






