

<!-- <body> -->
  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

   <div class="table-agile-info" role="form">

 
   <%= simple_form_for(@radiology_request) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

 

                             


  <div class="form-group">
 
    <%= f.input :personnel_id,label: "Radiologist", collection: Role.where("id = 7"), label_method: :role_name, value_method: :id,class:'form-control'%>
  </div>


  <div class="form-inputs">
    <%= f.input :user_id, :as=> :hidden,input_html: {value: current_user.role_id} %>
    <% logger.info "role in index: #{current_user.role_id}" %>

</div>

<div class="form-group">

    <%= f.input :radiology, label: "Radiology", as: :string, input_html: { class: 'form-control' } %>
  </div>

<div class="form-inputs">
  <% if (defined?(@patient_id)).nil? %>
    <%= f.input :patient_id,:as=> :hidden %>

   <% else  %>
  <%= f.input :patient_id, :as=> :hidden,input_html: {value: @patient_id} %>
<% logger.info "Rnning" %>
 <% logger.info "patient in index: #{@patient_id}" %>

  </div>

   <div class="form-inputs">
  <% if (defined?(@basic_med_id)).nil? %>
    <%= f.input :basic_medical_record_id,:as=> :hidden %>
   <% else  %>
  <%= f.input :basic_medical_record_id, :as=> :hidden,input_html: {value: @basic_med_id} %>
<% logger.info "Rnning" %>
 <% logger.info "patient in index: #{@patient_id}" %>
<% end %>
  </div>

 




  <div class="form-inputs">
    <%= f.input :status, :as=> :hidden, input_html: {value: 0 } %>

  </div>

<center>

   <div class="form-actions">
    <%#= f.button :submit %>
     <%= f.submit "Request Lab",:class => "btn btn-primary btn-sm" %>
  </div>
  </center>

<% end %>

<% end %>

</div>





<script type="text/javascript">
        $(function() {
        $('#datetimepicker6').datetimepicker({
        format : 'YYYY-MM-D H:m:s'
        });
        $("#datetimepicker6").on("dp.change", function(e) {
        $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        });

        $(document).ready(function() {
        $("#sent_status").show();
        });
        
       
        
</script>
