$("#hii").html("<%= escape_javascript(render 'radiology_requests/enter_results') %>");
$("#modal-window").html("<%= escape_javascript(render 'radiology_requests/enter_results') %>");
 $('#modal-window').modal('show');