
<section id="main-content">
  <section class="wrapper">
     
    <div class="table-agile-info">
 <div class="panel panel-default">
    <div class="row">
     <% if (defined?(@blood_pressure)).nil? %>
 
   <% else  %>
   <!-- <div class="cent"  ><b><p>Basic Medical Records</p></b></div> -->
<!--   <div class="column"  ><p>Name: <%#= @name %></p></div>
  <div class="column"  ><p>Patient ID: <%#= @card_no %></p></div>
  <div class="column"  ><p>Date of BIrth: <%#= @dob %> </p></div> -->
    <div class="column"  ><p>Blood Pressure: <%= @blood_pressure %></p></div>
  <div class="column"><p>Respiratory Rate: <%= @respiratory %></p> </div>
    <div class="column"><p>Pulse: <%= @pulse %></p> </div>
  <div class="column"> <p>Temperature: <%= @temperature %></p> </p> </div>
  <% end %>
</div>
                             
<br>
<br>
    <div class="panel-heading">
  <%= @name %> Radiology Requests
    </div>
    
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>

              <th data-breakpoints="xs">No</th> 
      
      <th>Patient No</th>
      <th>Name</th>
      <th>Date</th>
      <th>Created by</th>
       
      
      <th colspan="3"></th>
      <th colspan="3"></th>
      <th colspan="3"></th>

          </tr>
        </thead>
        <tbody>
      <% count=1 %>

           <% @radiology_requests.each do |patient| %>
      <tr>
         
        <td><%= count %></td> 
        
          <td><%= patient.card_no%></td>
         <td><%= patient.other_names + " " +  patient.surname %></td>
      
         <td><%= patient.created_at %></td>
         <td><%= patient.fullname %></td>
         
          <td ><%= link_to 'View', view_radio_path(:id => patient.patient_id),{:remote => true, class:'"btn btn-warning btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal1'} %></td> 
         
       
      </tr>
       <% count=count+1 %> 
    <% end %>
       
           

        </tbody>
      </table>

       <center>


 <%= link_to  'Request Radiology ', radio_form_path(:id => @patient_id), {:remote => true, :class => "btn btn-primary btn-sm" ,'data-toggle' =>  "modal", 'data-target' => '#myModal'} %>

     </center>   

  </div>
</div>
</section>
 
</section>




<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Request Radiology</h4>
      </div>
      <div class="modal-body" id = 'hi'>
      <%= render "radio_form" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>





<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Radiology Details</h4>
      </div>
      <div class="modal-body" id = 'hii'>
      <%#= render "view_lab" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

