$("#hii").html("<%= escape_javascript(render 'radiology_requests/view_radio') %>");
$("#modal-window").html("<%= escape_javascript(render 'radiology_requests/view_radio') %>");
 $('#modal-window').modal('show');