
<% if @order_id.status == true %>
    $(".order-<%= @order_id.id %> > a").html('cLose order').removeClass('btn-warning').addClass('btn-success')
<% else %>
    $(".order-<%= @order_id.id %> > a").html('Order cLosed').removeClass('btn-success').addClass('btn-success')
<% end %>
$("#order_status-status-<%= @order_id.id %>").html("<%= @order_id.status %>")




