<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @order_request.patient_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @order_request.user_id %>
</p>

<p>
  <strong>Personnel:</strong>
  <%= @order_request.personnel_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order_request.status %>
</p>

<p>
  <strong>Order master:</strong>
  <%= @order_request.order_master_id %>
</p>

<%= link_to 'Edit', edit_order_request_path(@order_request) %> |
<%= link_to 'Back', order_requests_path %>
