<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @bill_history.service_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @bill_history.patient_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bill_history.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bill_history.status %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @bill_history.quantity %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @bill_history.unit_price %>
</p>

<%= link_to 'Edit', edit_bill_history_path(@bill_history) %> |
<%= link_to 'Back', bill_histories_path %>
