<div class="row">
	<div class="col-md-8 col-md-offset-1">
		<table class="custab table table-striped table-hover table-bordered">

			<br>

			<br>
			<br>

			<div>
				<table class="table" ui-jq="footable" ui-options='{
				"paging": {
				"enabled": true
				},
				"filtering": {
				"enabled": true
				},
				"sorting": {
				"enabled": true
				}}'>
					<thead>
						<tr>
							<th>Patient</th>
							<th>Service</th>
							<!-- <th>Quantity / Days</th> -->
							<th>Price(GHc)</th>
							<th>Date</th>
							<th>Status</th>

							<th colspan="3"></th>
						</tr>
					</thead>

					<tbody>
						<% @bill_histories.each do |bill_history| %>
						<tr>

							<td><%= bill_history.other_names + " " + bill_history.surname %></td>
							<td><%= bill_history.service_name %></td>
							<!-- <td><%= bill_history.quantity %></td> -->
							<td><%= bill_history.price %></td>
							<td><%= bill_history.created_at %></td>

							<% if current_user.role_id == 8 %>

							<td class="bill_history-<%= bill_history.id %>"> <%= link_to "#{ bill_history.status ? 'Paid' : 'Oustanding' }", outstanding_path(:id => bill_history.id),{remote: :true, class: "btn btn-xs btn-#{ bill_history.status  ? 'success' : 'warning' }"} %> </td>
							<% else%>

							<td <%= bill_history.id %>"> <%= "#{ bill_history.status ? 'Paid' : 'Oustanding' }" %> </td>

							<% end %>
							
							<td><%= link_to 'Print', print_bill_path(:id => bill_history.id, format: "pdf" ) %></td>
						</tr>

						<% end %>
					</tbody>
				</table>

				<%= 'Amount Due = GHC ' %>
				<%= @total  %>
				<br>

			</div>

	</div>
</div>

<center>

	<%= link_to 'Print All' , print_all_bill_path(:id => @bill_histories[0].patient_id, format: "pdf" ) %>
 

</center>

