
<% if @bill_id.status == true %>
    $(".bill_history-<%= @bill_id.id %> > a").html('Outstanding').removeClass('btn-warning').addClass('btn-success')
<% else %>
    $(".bill_history-<%= @bill_id.id %> > a").html('Paid').removeClass('btn-success').addClass('btn-success')
<% end %>
$("#bill_status-status-<%= @bill_id.id %>").html("<%= @bill_id.status %>")




