
<div class="row-offset-6 ">
	
    <div class="alert alert-success alert-block" class="row-offset-6 ">
	 </div>
</div>
<%= simple_form_for(@services_inventory, :url => import_path, :method => :post, html: {:multipart => true, class: 'form-horizontal' }, remote: true) do |f| %>
<%= f.error_notification %>

<div class="container">
	<fieldset>
		<div class="row">
			<div class="col-md-5">
			 <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">

				<div style="width:250px">
				<b>Upload CSV :</b>	<%= file_field_tag :file, label: "Upload CSV :", accept: '.csv', require: true, class:"span11", label: false, boolean_style: :inline , class:'dropdown-toggle col-md-offset-0' %>
				</div>
				<br>
				<br />

				<div>
					
					<%= f.button :submit,"Submit", :class => 'btn-success',:style=>"width:auto;" %>
					<%= link_to "Cancel",services_inventories_path, :class => 'btn btn-default' %>
				</div>
			</div>
			</div>
		</div>
		</div>
	
	</fieldset>
	</div>

<% end %>