

  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <table class="custab table table-striped table-hover table-bordered">
 
      
<br>
      
                             
<br>
<br>
               
          
 <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
    <tr>
      
   
       <th>Order</th>
      <th>Date</th>
     
       
     
      
      <th colspan="3"></th>
    </tr>
  </thead>

   <tbody>
      <% count=1 %>

           <% @medication_requests.each do |medication_request| %>
      <tr>
         
        <td><%= count %></td> 
    
         <td><%= medication_request.service_name %></td>
         <td><%= medication_request.created_at %></td>
       
		<td class="medication_request-<%= medication_request.id %>">
    <%= link_to "#{ medication_request.status ? 'Closed' : 'Close Order' }", close_med_request_path(:id => medication_request.id),{remote: :true, class: "btn btn-xs btn-#{ medication_request.status  ? 'success' : 'warning' }"} %>
</td>	
	
      </tr>
       <% count=count+1 %> 
    <% end %>
       
           

        </tbody>
</table>

 
  </div>

          
  </div>
</div>










