<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @medication_temp.patient_id %>
</p>

<p>
  <strong>Service:</strong>
  <%= @medication_temp.service_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @medication_temp.status %>
</p>

<%= link_to 'Edit', edit_medication_temp_path(@medication_temp) %> |
<%= link_to 'Back', medication_temps_path %>
