








<section id="main-content">
  <section class="wrapper">
     
    <div class="table-agile-info">
 <div class="panel panel-default">

                             
<br>
<br>
    <div class="panel-heading">
  Test Results
    </div>
    
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
         <tr>
           <th>Patient No</th>
      <th>Patient</th>
     
      <th>Lab Ordered</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
        </thead>
        <tbody>
      <% count=1 %>

           <% @test_results.each do |test_result| %>
      <tr>
         <td><%= test_result.card_no %></td>
        <td><%= test_result.other_names + " " +  test_result.surname %></td>
       
        <td><%= test_result.lab_type %></td>
        <td><%= test_result.created_at %></td>
         
          <td ><%= link_to 'Test Results',results_path(:id => test_result.lab_id , format: "pdf") %></td> 
         
       
      </tr>
       <% count=count+1 %> 
    <% end %>
       
           

        </tbody>
      </table>

       <center>


 

     </center>   

  </div>
</div>
</section>
 
</section>





<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Enter Test Results</h4>
      </div>
      <div class="modal-body" id = 'hii'>
      <%#= render "enter_results" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>




