

<!-- <body> -->
  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

   <div class="table-agile-info">

 
   <%= simple_form_for @vital_record, :url =>{:action=>"basic_vitals", :controller=> "assign_patients"} do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

 <div >

    <%= f.input :blood_pressure, label: "Blood pressure", as: :string,input_html: { placeholder: 'Other names' } %>
  </div>
   <div >

    <%= f.input :pulse, label: "Pulse", as: :string,input_html: { placeholder: 'Other names' } %>
  </div>
   <div >

    <%= f.input :temp, label: "Temperature", as: :string,input_html: { placeholder: 'Other names' } %>
  </div>

    <div >

    <%= f.input :respiratory_rate, label: "Respiratory rate", as: :string,input_html: { placeholder: 'Other names' } %>
  </div>


   <div >

    <%= f.input :complaints, label: "Write Complaints", as: :text, input_html: {  rows: "4" } %>
  </div>



  <div class="form-inputs">
    <%= f.input :user_id, :as=> :hidden,input_html: {value: current_user.id} %>
    <% logger.info "role in index: #{current_user.role_id}" %>

</div>

<div class="form-inputs">
  <% if (defined?(@patient_id)).nil? %>
    <%= f.input :patient_id,:as=> :hidden %>
    <% logger.info "patient is nil" %>
   <% else  %>
  <%= f.input :patient_id, :as=> :hidden,input_html: {value: @patient_id} %>
<!-- <p>Basic Medical Record</>  -->
 <% logger.info "patient in index: #{@patient_id}" %>

  </div>



  <div class="form-inputs">
    <%= f.input :status, :as=> :hidden, input_html: {value: 1 } %>

  </div>
  
   <div class="form-inputs">
    <%= f.input :admission_status, :as=> :hidden, input_html: {value: 0 } %>

  </div>



<center>
   <div class="form-actions">
    <%#= f.button :submit %>
     <%= f.submit "Create Basic Medical Record",:class => "btn btn-primary btn-sm" %>
  </div>
</center>
<% end %>
                                    
<% end %>


 </div>






<script type="text/javascript">
        $(function() {
        $('#datetimepicker6').datetimepicker({
        format : 'YYYY-MM-D H:m:s'
        });
        $("#datetimepicker6").on("dp.change", function(e) {
        $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        });

        $(document).ready(function() {
        $("#sent_status").show();
        });
        
       
        
</script>




