$("#hllo").html("<%= escape_javascript(render 'assign_patients/assign_med') %>");
// $("#modal-window").html("<%= escape_javascript(render 'patients/assign_a_patient') %>");
 $('#modal-window').modal('show');