<section id="main-content">
	<section class="wrapper">

		<div class="table-agile-info">
			<div class="panel panel-default">
				<div class="panel-heading">
					Patients
				</div>

				<div>
					<table class="table" ui-jq="footable" ui-options='{
					"paging": {
					"enabled": true
					},
					"filtering": {
					"enabled": true
					},
					"sorting": {
					"enabled": true
					}}'>
						<thead>
							<tr>

								<th data-breakpoints="xs">No</th>
								<% if current_user.role_id == 1%>
								<th>Name</th>
								<th>Date</th>
								<th>Assigned by</th>
								<%else%>
								<th>Patient No</th>
								<th>Name</th>
								<th>Date</th>

								<th>Assigned by</th>
								<%end%>

								<th colspan="3"></th>
								<th colspan="3"></th>
								<th colspan="3"></th>

							</tr>
						</thead>
						<tbody>
							<% count=1 %>

							<% @assign_patients.each do |patient| %>
							<tr>

								<td><%= count %></td>
								<% if current_user.role_id == 1%>
								<td><%= link_to patient.other_names.upcase + " " +  patient.surname.upcase , docs_path(:id => patient.patient_id)%></td>
								<td><%= patient.created_at %></td>
								<td><%= patient.fullname %></td>
								<%elsif current_user.role_id == 3 %>
								<td><%= patient.card_no%></td>
								<td><%= link_to  patient.other_names.upcase + " " +  patient.surname.upcase , admission_vitals_path(:id => patient.patient_id)  %></td>
								
								<td><%= patient.created_at %></td>
								<td><%= patient.fullname %></td>
								<%else %>
								<td><%= patient.other_names + " " +  patient.surname %></td>
								<td><%= patient.created_at %></td>
								<td><%= patient.fullname %></td>
								<%end%>

								<% logger.info "PAtient role id #{ patient.role_id}"%>
								<% if current_user.role_id == 3%>

								<td ><%= link_to 'Create Medical Records', basic_medical_path(:id => patient.created_at),{:remote => true, class:'"btn btn-warning btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal2'} %></td>

								<%else%>

								<%end%>

							</tr>
							<% count=count+1 %>
							<% end %>

						</tbody>
					</table>

				</div>
			</div>
	</section>

</section>

<div  id="myModal2" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<div class="modal-content" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<h4 class="modal-title"> Create Patient Medical record</h4>
			</div>
			<div class="modal-body" id = 'hey1'>
				<%= render "basic_medical" %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>

	</div>
</div>
