$("#fi").html("<%= escape_javascript(render 'assign_patients/view_documentation') %>");
$("#modal-window").html("<%= escape_javascript(render 'assign_patients/view_documentation') %>");
 $('#modal-window').modal('show');