













<section id="main-content">
  <section class="wrapper">
    <!-- <p id="notice"><%= notice %></p> -->
    <div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
     Personnel Setup
    </div>
    <div class="panel-body">
                            <div class="position-center">
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>

     
              <th class="header-item">User name</th>
               <th class="header-item">Fullname </th>
               <th class="header-item">Portfolio </th>

          </tr>
        </thead>
        <tbody>
      <% #count=1 %>

           <% @users.each do |user| %>

                <tr>

                  <td style="width: 5px"><%= user.username %></td>
                  <td style="width: 5px"><%= user.fullname %></td>
                   <td style="width: 5px"> <%= user.a_role.role_name if user.a_role %>
               
                  <td style="width: 5px"><%=link_to 'Edit', edit_user_path(user),  class:'"btn btn-primary btn-sm btn3d"'%></td>
                 <!--  <td> <%#= link_to 'Remove',remove_contact_path(:id => user.id), :class => 'custom btn-sm btn-danger'%> </td -->

             </tr>
    <% end %>
       
           

        </tbody>
      </table>
 </div>
</div>
  <center>
<%= link_to 'New', new_user_path, class:'btn btn-primary '%>

     </center>   
     <br>  




    </div>
  </div>
</div>
</section>
 
</section>
