


  <div class="row">
    <div class="col-md-8 col-md-offset-2">
 
        <table class="custab table table-striped table-hover table-bordered">
<br>
        
             <div class="row">
     <% if (defined?(@blood_pressure)).nil? %>
 
   <% else  %>
   <div class="cent"  ><b><p>Basic Medical Records</p></b></div>
  <div class="column"  ><p>Blood Pressure: <%= @blood_pressure %></p></div>
  <div class="column"><p>Respiratory Rate: <%= @respiratory %></p> </div>
    <div class="column"><p>Pulse: <%= @pulse %></p> </div>
  <div class="column"> <p>Temperature: <%= @temperature %></p> </p> </div>
  <% end %>
</div>
                             
<br>
<br>
               
               <div class="cent"  ><b><p>Medication Requested</p></b></div>                 
        
            <tr>
               <% if (defined?(@document1)).nil? %>
                  <% else  %>
           <tr>
              
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Medication Requested</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=  @document1.medication %></td>
             
          </tr>
          

<% end %>

 
          
        <% #end %>
          
         
           </table>
          
  </div>
</div>






