


   <div class="table-agile-info">

 
   <%= simple_form_for(@assign_patient) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <div class="ggg">
 
     <%= f.input :personnel_id,label: "Health Personnels", collection: Role.where("id = 1 or id = 2 or id = 3 or id = 5 or id = 7"), label_method: :role_name, value_method: :id,class: "ggg" %>
  </div>


  <div class="form-inputs">
    <%= f.input :user_id, :as=> :hidden,input_html: {value: current_user.id} %>
    <% logger.info "role in index: #{current_user.role_id}" %>

</div>

  <div class="form-inputs">
    <%= f.input :role_id, :as=> :hidden,input_html: {value: current_user.role_id} %>
    <% logger.info "role in index: #{current_user.role_id}" %>

</div>

<div class="form-inputs">
  <% if (defined?(@patient_id)).nil? %>
    <%= f.input :patient_id,:as=> :hidden %>
   <% else  %>
  <%= f.input :patient_id, :as=> :hidden,input_html: {value: @patient_id} %>
<% logger.info "Rnning" %>
 <% logger.info "patient in index: #{@patient_id}" %>
<% end %>
  </div>



  <div class="form-inputs">
    <%= f.input :status, :as=> :hidden, input_html: {value: 0 } %>

  </div>



<center>
   <div class="form-actions">
    <%#= f.button :submit %>
     <%= f.submit "Assign Patient",:class => "btn btn-primary btn-sm" %>
  </div>
</center>

<% end %>

</div>

