<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="table-agile-info">

	<% if (defined?(@patients1)).nil? %>

	<% else  %>

	<%= simple_form_for(@patients1, :url => {:remote => true,:controller => 'patients', :action => 'update', :id => @patients1.id}) do |f| %>
	<%= f.error_notification %>
	<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

	<div >

		<%= f.input :surname,  as: :string,input_html: { value: @patients1.surname} %>
	</div>
	<div >

		<%= f.input :other_names, label: "Other names", as: :string,input_html: { value: @patients1.other_names } %>
	</div>
	<div class="ggg">

		<%= f.input :mobile_number, label: "Mobile number", as: :string,input_html: { value: @patients1.mobile_number}  %>
	</div>

	<div class="ggg">

		<%= f.input :alt_number, label: "Other number", as: :string,input_html: { value: @patients1.alt_number }%>
	</div>

	<div class="ggg">

		<%= f.input :dob, label: "Date of birth", as: :string,input_html: { id: "datepicker",placeholder: 'dd-mm-yy' ,value: @patients1.dob}  %>
	</div>

	<div class="ggg">

		<%= f.input :occupation, label: "Occupation", as: :string,input_html: { value: @patients1.occupation } %>
	</div>

	<div class="ggg">

		<%= f.input :address,label: "Address", as: :text, input_html: { rows: "4",value: @patients1.address} %>

	</div>

	<div class="form-inputs">
		<%= f.input :user_id, :as=> :hidden, input_html: {value: current_user.id} %>
	</div>

	<div class="form-inputs">
		<%= f.input :status, :as=> :hidden, input_html: {value: 1 } %>

	</div>

	<center>
		<div class="col-md-5 col-md-offset-1">
			<%= f.button :submit,"Update Patient Details", :class => "btn btn-primary btn-sm",:style=>"width:auto;" %>

		</div>

	</center>

	<% end %>
	<% end %>
</div>

<script>
	$(function() {
	$("#datepicker").datepicker({
	dateFormat:'dd-mm-yy'
	});
	});
</script>