
<div class="table-agile-info">

	<%= simple_form_for(@patient) do |f| %>
	<%= f.error_notification %>
	<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

	<div >

		<%= f.input :surname,  as: :string,input_html: { placeholder: 'Surname' } %>
	</div>
	<div >

		<%= f.input :other_names, label: "Other names", as: :string,input_html: { placeholder: 'Other names' } %>
	</div>
	<div class="ggg">

		<%= f.input :mobile_number, label: "Mobile number", as: :string,input_html: { placeholder: 'Mobile number' }  %>
	</div>

	<div class="ggg">

		<%= f.input :alt_number, label: "Other number", as: :string,input_html: { placeholder: 'Other number' }%>
	</div>

	<div >

		<%= f.input :card_no, :as=> :string, input_html: { value: @patient_number } %>
		<% logger.info "Patient number in form  is #{@patient_number}" %>
	</div>

	<div class="ggg">

		<%= f.input :dob, label: "Date of birth", as: :string,input_html: { id: "datepicker",placeholder: 'dd-mm-yy' }  %>
	</div>

	<div class="ggg">

		<%= f.input :occupation, label: "Occupation", as: :string,input_html: { placeholder: 'Occupation' } %>
	</div>

	<div class="ggg">

		<%= f.input :address,label: "Provide Digital Address", as: :text, input_html: { rows: "4",placeholder: 'Address'}  %>

	</div>

	<br />

<div class="form-inputs">
	<%= f.input :user_id, :as=> :hidden, input_html: {value: current_user.id} %>
</div>
<div class="form-inputs">
	<%= f.input :status, :as=> :hidden, input_html: {value: 1 } %>

</div>

<center>

	<div >
		<%= f.button :submit,"Register Patient", :class => 'btn-success',:style=>"width:auto;" %>

	</div>
</center>

<% end %>

</div>

<script>
	$(function() {
	$("#datepicker").datepicker({
	dateFormat:'dd-mm-yy'
	});
	});
</script>

