<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
<section id="main-content">
	<section class="wrapper">

		<div class="table-agile-info">
			<div class="panel panel-default">
				<div class="panel-heading">
					Patients
				</div>
				<div>
					<table class="table" ui-jq="footable" ui-options='{
					"paging": {
					"enabled": true
					},
					"filtering": {
					"enabled": true
					},
					"sorting": {
					"enabled": true
					}}'>
						<thead>
							<tr>

								<!-- <th data-breakpoints="xs">No</th>  -->
								<th>Patient No</th>
								<th>Fullname</th>
								<th>Mobile number</th>
								<th>Arrival time</th>
								<th colspan="3"></th>
								<th colspan="3"></th>
								<th colspan="3"></th>

							</tr>
						</thead>
						<tbody>
							<% #count=1 %>

							<% @patients.each do |patient| %>
							<tr>

								<!-- <td><%#= count %></td>  -->
								<td><%= patient.card_no %></td>
								<td><%= patient.other_names + " " +  patient.surname %></td>
								<td><%= patient.mobile_number %></td>
								<td><%= patient.created_at.strftime('%F %R') %></td>

								<td style="width: 3px"><%= link_to 'Details', show_patients_path(:id => patient.id), {:remote => true, class:'"btn btn-success btn-sm btn3d"','data-toggle' =>  "modal", 'data-target' => '#myModal2'} %></td>
								<td style="width: 3px"><%= link_to 'Edit', edit_patients_path(:id => patient.id),{:remote => true, class:'"btn btn-info btn-sm btn3d"','data-toggle' =>  "modal", 'data-target' => '#myModal3'} %></td>

								<td ><%= link_to 'Assign', assign_a_patient_path(:id => patient.id), {:remote => true, class:'"btn btn-warning btn-sm btn3d"','data-toggle' =>  "modal", 'data-target' => '#myModal4'} %></td>

								<td ><%= link_to 'Appointment', reception_patient_path(:id => patient.id), {:remote => true, class:'"btn btn-primary btn-sm btn3d"','data-toggle' =>  "modal", 'data-target' => '#myModal5'} %></td>

							</tr>
							<%# count=count+1 %>
							<% end %>

						</tbody>
					</table>

					<center>

						<%= link_to  'New Patient', patients_form_path, {:remote => true, :class => "btn btn-primary btn-sm" ,'data-toggle' =>  "modal", 'data-target' => '#myModal'} %>

					</center>
					<br>

				</div>
			</div>
		</div>
	</section>

</section>

<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<h4 class="modal-title"> Create Patient record</h4>
			</div>
			<div class="modal-body" id = 'patient_form'>
				<%= render "patients_form" %>
			</div>

		</div>

	</div>
</div>

<div id="myModal2" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<h4 class="modal-title"> Patient Info Summary</h4>
			</div>
			<div class="modal-body" id = 'hey'>
				<%= render "show_patients" %>
			</div>

		</div>

	</div>
</div>

<div id="myModal3" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<h4 class="modal-title"> Edit Patient record</h4>
			</div>
			<div class="modal-body"  id = 'hey1'>
				<%= render "edit_patients" %>
			</div>

		</div>

	</div>
</div>

<div id="myModal4" class="modal fade" role="dialog" >
	<div class="modal-dialog" >

		<!-- Modal content-->
		<div class="modal-content" >
			<div class="modal-header" >
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<h4 class="modal-title"> Assign Patient To A Health Personnel</h4>
			</div>
			<div class="modal-body"  id = 'hey2' >
				<%= render "assign_a_patient"   %>
			</div>

		</div>

	</div>
</div>

<div id="myModal5" class="modal fade" role="dialog" >
	<div class="modal-dialog" >

		<!-- Modal content-->
		<div class="modal-content" >
			<div class="modal-header" >
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<h4 class="modal-title"> Appointment</h4>
			</div>
			<div class="modal-body"  id = 'book' >
				<%= render "reception_patient"   %>
			</div>

		</div>

	</div>
</div>

