

<body>
<div class="log-w3">
<div class="w3layouts-main">
  <h2>Sign In Now</h2>
 
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|%>

              <%= f.error_notification %>

  <div >

    <%= f.input :username, autofocus: true, autocomplete: "username" , placeholder: 'username' ,html_input:{class: "ggg",style:"width:70%;height:20%;"} %>
  </div>



  <div class="ggg">
   
    <%= f.input :password, autocomplete: "off",class: "ggg",placeholder: 'password' %>

   
  </div>

 




  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>





</div>
</div>
</body>


