


<!--   <div class="col-md-10" >
     <div class="position-center"> -->
<section id="main-content">
  <section class="wrapper">
    <p id="notice"><%= notice %></p>
    <div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
     Portfolios Setup
    </div>
    <div class="panel-body">
                            <div class="position-center">
  
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>

            <!--  <th data-breakpoints="xs">ID</th> -->
            <th data-breakpoints="xs">Role name</th>
            <!--  <th data-breakpoints="xs">Created at</th> -->
            <!--  <th colspan="3"></th> -->

          </tr>
        </thead>
        <tbody>
      <% count=1 %>

           <% @roles.each do |role| %>
      <tr>
      

        <td style="width: 5px"><%= role.role_name %></td>
       <!--  <td style="width: 5px"><%#= link_to 'Show', role,class:'"btn btn-success btn-sm btn3d"' %></td> -->
        <td style="width: 5px"><%= link_to 'Edit', edit_role_path(role),class:'"btn btn-primary btn-sm btn3d"' %></td>
  

    <% end %>
       
           

        </tbody>
      </table>

 </div>
</div>
<!-- <br> -->
  <center>

<%= link_to 'New Role', new_role_path ,class:'btn btn-success'%>
     </center>   
     <br>  




    </div>
  </div>
</div>
</section>
 
</section>
<!-- </div>
</div> -->



