

<% logger.info "patient in index: #{@patient_id}" %>
<%= content_tag :div, id: "patient_id_class", data: {patient_id: @patient_id} do %>
<% end %> 

<section id="main-content">
  <section class="wrapper">
 
  <div id='calendar'></div>


  </section>
</section>


