<section id="main-content">
  <section class="wrapper">
  <div class="form-w3layouts">

    <div class="row">
            <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                         
                        </header>
                        <div class="panel-body">
                            <div class="position-center">
<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :category_name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

</div>

   </div>
</div>
</div>
</section>
 </section>

