


  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="custab table table-striped table-hover table-bordered">
 
      
<br>
     
                             
<br>
<br>
               
               <div class="cent"  ><b><p>Clinical Documents</p></b></div>    


        
     
               <% if (defined?(@documents)).nil? %>
                  <% else  %>

            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Blood pressure</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @documents[0].blood_pressure %></td>
             
          </tr>
           <tr>
              
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">pulse</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @documents[0].pulse %></td>
             
          </tr>
           <tr>
              
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Temp</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @documents[0].temp %></td>
             
          </tr>
           <tr>
              
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Respiratory Rate</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @documents[0].respiratory_rate %></td>
             
          </tr>

            <tr>
              
            <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">Complaints</td>
            <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @documents[0].complaints %></td>
             
          </tr>
          

<% end %>

 </table>
          
  </div>
</div>






