

<section id="main-content">
  <section class="wrapper">
     
    <!-- <p id="notice"><%= notice %></p> -->
    <div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
    Nurse Admission Document
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>

     <th>No</th>
       <th>Patient</th>
        <th>Date</th>
      <th>Nurse</th>
      <th colspan="3"></th>
      <th colspan="3"></th>
      <th colspan="3"></th>

          </tr>
        </thead>
        <tbody>
      <% #count=1 %>

           <% @basic_med_records.each do |basic_med_record| %>
      <tr>
         
         <td><%= basic_med_record.card_no %></td>
        <td><%= basic_med_record.other_names + " " +  basic_med_record.surname%></td>
         <td><%= basic_med_record.created_at %></td>
        <td><%= basic_med_record.fullname %></td>
        
        <td ><%= link_to 'View Record', view_nurse_record_path(:id => basic_med_record.created_at),{:remote => true, class:'"btn btn-warning btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal5'} %></td> 
        


      </tr>
       <%# count=count+1 %> 
    <% end %>
       
           

        </tbody>
      </table>

 <center>


 <%= link_to  'New Document ', admission_basic_medical_path(:id => @patient_id), {:remote => true, :class => "btn btn-primary btn-sm" ,'data-toggle' =>  "modal", 'data-target' => '#myModal2'} %>

     </center>   
     <br>  




    </div>
  </div>
</div>
</section>
 
</section>





<div  id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

   
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Create Patient Vitals (Admission)</h4>
      </div>
      <div class="modal-body" id = 'basic'>
      <%= render "admission_basic_medical" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>





<div id="myModal5" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Admission Note</h4>
      </div>
      <div class="modal-body" id = 'fire'>
      <%= render "view_nurse_record" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>