<p id="notice"><%= notice %></p>

<p>
  <strong>Lab name:</strong>
  <%= @lab_order_list.lab_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @lab_order_list.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @lab_order_list.status %>
</p>

<%= link_to 'Edit', edit_lab_order_list_path(@lab_order_list) %> |
<%= link_to 'Back', lab_order_lists_path %>
