

<!-- <body> -->
  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

   <div class="table-agile-info">

 
   <%= simple_form_for(@clinic_document) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <!-- <div class="container">
        <fieldset>
                <div class="row">
                        <div class="col-md-5">
                         <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>"> -->
 

              
  <div class="row">
     <% if (defined?(@blood_pressure)).nil? %>
 
   <% else  %>
   <div class="cent"  ><h4>Basic Medical Record</h4></div>
  <div class="column"  ><p>Blood Pressure: <%= @blood_pressure %></p></div>
  <div class="column"><p>Respiratory Rate: <%= @respiratory %></p> </div>
    <div class="column"><p>Pulse: <%= @pulse %></p> </div>
  <div class="column"> <p>Temperature: <%= @temperature %></p> </p> </div>
  <% end %>
</div>
                             
<br>

 <div >

    <%= f.input :complaints, label: "Write Complaints", as: :text, input_html: {  rows: "4" , value: @complaints} %>
  </div>
   <div >


    <%= f.input :symptoms, label: "Other Symptoms", as: :text, input_html: {  rows: "4" } %>
  </div>
   <div >

    <%= f.input :vital_signs, label: "Vital Signs", as: :text, input_html: {  rows: "4" , value: @vital_signs} %>
  </div>

    <div >

    <%= f.input :clinic_exams, label: "Clinic Examamination", as: :text, input_html: {  rows: "4" } %>
  </div>

   <div > 

    <%= f.input :final_diagnosis, label: "Final Diagnosis", as: :text, input_html: {  rows: "4" } %>
  </div>
   <div >

    <%= f.input :investigations, label: "Investigations", as: :text, input_html: {  rows: "4" } %>
  </div>
   <div >

    <%= f.input :treatment_plans, label: "Treatment Plans",as: :text, input_html: {  rows: "4" } %>
  </div>



  <div class="form-inputs">
    <%= f.input :user_id, :as=> :hidden,input_html: {value: current_user.id} %>
    <% logger.info "role in index: #{current_user.role_id}" %>

</div>

<div class="form-inputs">
  <% if (defined?(@patient_id)).nil? %>
    <%= f.input :patient_id,:as=> :hidden %>
   <% else  %>
  <%= f.input :patient_id, :as=> :hidden,input_html: {value: @patient_id} %>
<% logger.info "Rnning" %>
 <% logger.info "patient in index: #{@patient_id}" %>

  </div>


  <div class="form-inputs">
    <%= f.input :status, :as=> :hidden, input_html: {value: 0} %>

  </div>



<center>
   <div class="form-actions">
    <%#= f.button :submit %>
     <%= f.submit "Create Admission Document" ,:class => "btn btn-primary btn-sm"%>
  </div>
</center>  
<% end %>

 <!--  </fieldset>
        </div> -->


                                    
<% end %>


 </div>






<script type="text/javascript">
        $(function() {
        $('#datetimepicker6').datetimepicker({
        format : 'YYYY-MM-D H:m:s'
        });
        $("#datetimepicker6").on("dp.change", function(e) {
        $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        });

        $(document).ready(function() {
        $("#sent_status").show();
        });
        
       
        
</script>




