

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

   <div class="table-agile-info">

 
   <%= simple_form_for(@add_a_room, :url =>{:controller => 'admissions', :action => 'add_a_room'}) do |f| %>

   <!-- :url => {:remote => true,:controller => 'patients', :action => 'update', :id => @patients1.id} -->
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>



                             


  <div class="ggg">
 
   <%= f.input :room_no, label: "Enter Room No", as: :text, input_html: { value: @room_no, rows: "2" } %>
  </div>

     <div class="form-inputs">
    <%= f.input :created_at, :as => :hidden , input_html: {value: @created_at} %>
   

</div>



<center>
   <div class="form-actions">
    <%#= f.button :submit %>
     <%= f.submit "Submit" ,:class =>'"btn btn-primary btn-sm btn3d"'%>
  </div>
</center>
<% end %>

</div>


