


  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="custab table table-striped table-hover table-bordered">
 
      
<br>
    
                             
<br>
<br>
               
               <div class="cent"  ><b><p>Admission Note</p></b></div>   <br> 


        
     
               <% if (defined?(@documents)).nil? %>
                  <% else  %>

            <center>
           <%=   @documents[0].discharge_note %>
             
          </center>
          

<% end %>

 </table>
          
  </div>
</div>






