


  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="custab table table-striped table-hover table-bordered">
 
      
<br>
        
             <div class="row">
     <% if (defined?(@blood_pressure)).nil? %>
 
   <% else  %>
   <div class="cent"  ><b><p>Basic Medical Records</p></b></div>
  <div class="column"  ><p>Blood Pressure: <%= @blood_pressure %></p></div>
  <div class="column"><p>Respiratory Rate: <%= @respiratory %></p> </div>
    <div class="column"><p>Pulse: <%= @pulse %></p> </div>
  <div class="column"> <p>Temperature: <%= @temperature %></p> </p> </div>
  <% end %>
</div>
                             
<br>
<br>
               
               <div class="cent"  ><b><p>Clinical Documents</p></b></div>    
                  
    
               <% if (defined?(@documents)).nil? %>
                  <% else  %>
                  <h4><b>Complaints</b></h4>
                <%=   @documents[0].complaints %><br><br/>
                 <h4><b>symptoms</b></h4>
                <%=   @documents[0].symptoms %><br><br/>
                 <h4><b>vital_signs</b></h4>
                <%=   @documents[0].vital_signs %><br><br/>
                 <h4><b>clinic_exams</b></h4>
                <%=   @documents[0].clinic_exams %><br><br/>
                 <h4><b>final_diagnosis</b></h4>
                <%=   @documents[0].final_diagnosis %><br><br/>
                 <h4><b>investigations</b></h4>
                <%=   @documents[0].investigations %><br><br/>
                 <h4><b>treatment_plans</b></h4>
                <%=   @documents[0].treatment_plans %><br><br/>

           
<% end %>

 </table>
          
  </div>
</div>






