<section id="main-content">
	<section class="wrapper">

		<div class="table-agile-info">
			<div class="panel panel-default">

				<br>
				<br>
				<div class="panel-heading">
					Discharged patients
				</div>

				<div>
					<table class="table" ui-jq="footable" ui-options='{
					"paging": {
					"enabled": true
					},
					"filtering": {
					"enabled": true
					},
					"sorting": {
					"enabled": true
					}}'>
						<thead>
							<tr>
								<th>Patient</th>
								<th>Room No</th>
								<th>Assigned by</th>
								<th>Admission Date</th>

								<th colspan="3"></th>
							</tr>
						</thead>

						<tbody>
							<% @admissions.each do |admission| %>
							<tr>
								<!--  <td><%#= admission.surname + " " + admission.other_names %></td> -->
								<td><%= admission.other_names.upcase + " " +  admission.surname.upcase %></td>
								<td><%= admission.room_no %></td>
								<td><%= admission.fullname %></td>
								<td><%= admission.created_at %></td>
								
								<%if current_user.role_id = "6"%>
								
								<% else %>
								<td ><%= link_to 'View Discharge Note', view_discharge_note_path(:id => admission.created_at),{:remote => true, class:'"btn btn-warning btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal1'} %></td>
								<% end  %>
								
							</tr>
							<% end %>
						</tbody>
					</table>

					<br>

					<center>

						<%#= link_to 'New Admission', patient_admission_path(:id => @patient_id), {:remote => true, :class => "btn btn-primary btn-sm" ,'data-toggle' =>  "modal", 'data-target' => '#myModal'} %>

					</center>

				</div>
			</div>
	</section>

</section>

<div id="myModal1" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<div class="modal-content" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<h4 class="modal-title"> Admission Note</h4>
			</div>
			<div class="modal-body" id = 'dis'>
				<%= render "view_discharge_note" %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>

	</div>
</div>
