<section id="main-content">
	<section class="wrapper">

		<div class="table-agile-info">
			<div class="panel panel-default">

				<br>
				<br>
				<div class="panel-heading">
					Admissions
				</div>

				<div>
					<table class="table" ui-jq="footable" ui-options='{
					"paging": {
					"enabled": true
					},
					"filtering": {
					"enabled": true
					},
					"sorting": {
					"enabled": true
					}}'>
						<thead>
							<tr>
								<th>Patient</th>
								<th>Room No</th>
								<th>Assigned by</th>
								<th>Admission Date</th>

								<th colspan="3"></th>
							</tr>
						</thead>

						<tbody>
							<% @admissions.each do |admission| %>
							<tr>

								<td><%= admission.other_names.upcase + " " +  admission.surname.upcase %></td>
								<td><%= admission.room_no %></td>
								<td><%= admission.fullname %></td>
								<td><%= admission.created_at %></td>

								<% if  admission.room_no.nil?%>
								<td ><%= link_to 'Add Room No', add_room_path(:id => admission.created_at),{:remote => true, class:'"btn btn-primary btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal2'} %></td>
								<% else %>
								<td ><%= link_to 'Edit Room No', edit_room_path(:id => admission.created_at),{:remote => true, class:'"btn btn-info btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal4'} %></td>
								<td></td>
								<% end%>
								<%if current_user.role_id = "6"%>
								<% else %>
								<td ><%= link_to 'View Admission Note', view_note_path(:id => admission.created_at),{:remote => true, class:'"btn btn-warning btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal1'} %></td>

								<td ><%= link_to 'Discharge Patient', discharge_note_path(:id => admission.created_at),
								{:remote => true, class:'"btn btn-info btn-sm btn3d"','data-toggle' =>  "modal",'data-target' => '#myModal3',  data: { confirm: "Do you want to discharge #{admission.other_names.upcase + " " +  admission.surname.upcase} ?" }}%></td>

								<% end  %>

							</tr>
							<% end %>
						</tbody>
					</table>

					<br>

					<center>

					</center>

				</div>
			</div>
	</section>

</section>

<div id="myModal1" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<div class="modal-content" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<h4 class="modal-title"> Admission Note</h4>
			</div>
			<div class="modal-body" id = 'fi'>
				<%= render "view_note" %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>

	</div>
</div>

<div id="myModal2" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<div class="modal-content" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<h4 class="modal-title"> Add Room</h4>
			</div>
			<div class="modal-body" id = 'room'>
				<%= render "add_room" %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>

	</div>
</div>

<div id="myModal4" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<div class="modal-content" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<h4 class="modal-title"> Edit Room No</h4>
			</div>
			<div class="modal-body" id = 'room2'>
				<%= render "edit_room" %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>

	</div>
</div>

<div id="myModal3" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<div class="modal-content" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<h4 class="modal-title"> Discharge Note</h4>
			</div>
			<div class="modal-body" id = 'discharge'>
				<%= render "discharge_note" %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>

	</div>
</div>

