
<%= simple_form_for(@clinic_document) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :patient_id %>
    <%= f.input :basic_medical_record_id %>
    <%= f.input :user_id %>
    <%= f.input :status %>
    <%= f.input :complaints %>
    <%= f.input :symptoms %>
    <%= f.input :vital_signs %>
    <%= f.input :clinic_exams %>
    <%= f.input :final_diagnosis %>
    <%= f.input :investigations %>
    <%= f.input :treatment_plans %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
