
       <% if user_signed_in? %>
<!-- <section id="main-content1"> -->
	<section class="wrapper">
		</section>

 <!-- footer -->
		  <div class="footer">
			<div class="wthree-copyright">
			  <p>© 2018 BrIT. All rights reserved | Design by <a href="">BRITANIA</a></p>
			</div>
		  </div>

       <% end%>
  <!-- / footer -->
<!-- </section> -->