
<!DOCTYPE html>

<body>
      <% if user_signed_in? %> 
<section id="container">


<!--header start-->
<header class="header fixed-top clearfix">
<!--logo start-->
<div class="brand">
    <a href="index.html" class="logo">
        BRITANNIA
    </a>
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars"></div>
    </div>

</div>

<!--      <center>

<div class="nav notify-row" id="top_menu">
   
        <div class="row" >
              <div class="column" >
                <h2><b><%#= @patient_records.other_names + " " + @patient_records.surname %></b></h2>
               <%#= @patient_records.card_no %>
              </div>
              <div class="column1" >
               Occupation: <%#= @patient_records.occupation %>
               Address: <%#= @patient_records.address %>
              </div>
            
            </div>
</div>     
 </center> -->


  


       


<!--logo end-->
<!-- 
<div class="row" >
              <div class="col-xs-4" >
                <%#= @patient_records.other_names + " " + @patient_records.surname %>
              </div>
              <div class="col-xs-4" >
                <%#= @patient_records.other_names + " " + @patient_records.surname %>
              </div>
              <div class="col-xs-4" >
                <%#= @patient_records.other_names + " " + @patient_records.surname %>
              </div>
             
            </div> --><!-- /row-->
    
    

      
<div class="top-nav clearfix">
    <!--search & user info start-->


    <ul class="nav pull-right top-menu">
       <!--  <li>
            <input type="text" class="form-control search" placeholder=" Search">
        </li> -->
        <!-- user login dropdown start-->
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <!-- <img alt="" src="images/2.png"> -->
                <span ><%= current_user.username %></span>
                <b class="caret"></b>
            </a>
              <!-- <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %><span class="caret"></span></a> -->
            <ul class="dropdown-menu extended logout">
                 <% if current_user.role_id == 4 %>
                 <li> <%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Service Categories'.html_safe,categories_path %></li>
                <li> <%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Services setup'.html_safe,services_inventories_path %></li>
                 <li> <%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Orders setup'.html_safe,order_masters_path %></li>

                   <li> <%= link_to '<i class="fa fa-fw fa-user"></i> &nbsp; Profile'.html_safe,edit_user_registration_path %></li>
                <li> <%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Roles setup'.html_safe,roles_path %></li>
                 <li> <%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Users'.html_safe,users_path %></li>
                 <li> <%= link_to '<i class="fa fa-key"></i> &nbsp; Log out'.html_safe,destroy_user_session_path, :method=> 'delete' %> </li>
                

                 <%else%>
                 <li> <%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Service Categories'.html_safe,categories_path %></li>
                <li> <%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Services setup'.html_safe,services_inventories_path %></li>
                 <li> <%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Orders setup'.html_safe,order_masters_path %></li>

                 <li> <%= link_to '<i class="fa fa-fw fa-user"></i> &nbsp; Profile'.html_safe,edit_user_registration_path %></li>
                 <li> <%= link_to '<i class="fa fa-key"></i> &nbsp; Log out'.html_safe,destroy_user_session_path, :method=> 'delete' %> </li>
                  <%end%>

             
            </ul>
        </li>
        <!-- user login dropdown end -->
       
    </ul>
    <!--search & user info end-->
</div>
</header>
<!--header end-->
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu"  >
                <li>
                   <!--  <a class="active" href="index.html"> -->
                      <!--   <i class="fa fa-dashboard"></i> -->
                       <!--  <span>Dashboard</span> -->
                       
                       <%= link_to '<i class="fa fa-dashboard"></i> &nbsp; Back'.html_safe,root_path %>
                  <!--   </a> -->
                </li>

               

                <% if current_user.role_id == 1 %>
                 
                    <li >
                    <a href="javascript:;">
                        <i class="fa fa-user"></i>
                        <span><%= @patient_records.other_names + " " + @patient_records.surname %></span>

                    </a>
                  
                      <ul class="sub">

                       <ul id="nav-accordion">

                           <li class="sub-menu">
                    <a href="javascript:;">
                      
                      </i>
                        <span>Documents</span>
                    </a>
                    <ul class="sub">
                      
                       
                     <li> <%= link_to 'Clinical Documents', docs_path(:id => @patient_id) %></li> 
                     <li> <%= link_to 'Admission Documents', admission_vitals_path(:id => @patient_id) %></li> 
                     <li> <%= link_to 'Nurse admission Vitals', nurse_admission_vitals_history_path(:id => @patient_id) %></li>
                        
                    </ul>
                </li>
                    
                      <li> <%= link_to 'Orders', order_records_path(:id => @patient_id) %></li> 
                      <li> <%= link_to 'Lab Request', lab_docs_path(:id => @patient_id) %></li> 
                      <li> <%= link_to 'Admission', admission_doc_path(:id => @patient_id) %></li> 
                      <li> <%= link_to 'Test Results', main_test_path(:id => @patient_id) %></li> 
                      <li> <%= link_to 'Appointment', patient_appointment_path(:id => @patient_id) %></li> 
                      
                     <li> <%= link_to 'Bills' ,patient_bill_path(:id => @patient_id)  %></li> 
                </li>

               <% elsif current_user.role_id == 3 %>
                 <li >
                    <a href="javascript:;">
                        <i class="fa fa-user"></i>
                        <span><%= @patient_records.other_names + " " + @patient_records.surname %></span>

                    </a>

                
                  
                      <ul class="sub">
                      

                      <ul id="nav-accordion">

                           <li class="sub-menu">
                    <a href="javascript:;">
                      
                      </i>
                        <span>Documents</span>
                    </a>
                    <ul class="sub">
                      
                       <li> <%= link_to 'Nurse admission Vitals', nurse_admission_vitals_history_path(:id => @patient_id) %></li>
                     <li> <%= link_to 'View Clinical Documents', docs_path(:id => @patient_id) %></li> 
                     <li> <%= link_to 'View Admission Documents', admission_vitals_path(:id => @patient_id) %></li> 
                     
                        
                    </ul>
                </li>
                    
                     </ul>
                      <li> <%= link_to 'Orders', order_records_path(:id => @patient_id) %></li> 
                      <li> <%= link_to 'View Lab Requests', lab_docs_path(:id => @patient_id) %></li> 
                      <li> <%= link_to 'View Test Results', main_test_path(:id => @patient_id) %></li> 
                     <li> <%= link_to 'View Bills' ,patient_bill_path(:id => @patient_id)  %></li> 
                      </ul>  
                </li>

               

                <% end%>
             
             
                    </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->
<!--main content start-->

 <%end%>

</body>
</html>
