<!DOCTYPE html>

<body>
	<% if user_signed_in? %>
	<section id="container">

		<!--header start-->
		<header class="header fixed-top clearfix">
			<!--logo start-->
			<div class="brand">
				<a href="index.html" class="logo"> BRITANNIA </a>
				<div class="sidebar-toggle-box">
					<div class="fa fa-bars"></div>
				</div>
			</div>
			<!--logo end-->

			<div class="top-nav clearfix">
				<!--search & user info start-->
				<ul class="nav pull-right top-menu">
					
					<li class="dropdown">
						<a data-toggle="dropdown" class="dropdown-toggle" href="#"> <!-- <img alt="" src="images/2.png"> --> <span ><%= current_user.username %></span> <b class="caret"></b> </a>
						<!-- <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %><span class="caret"></span></a> -->
						<ul class="dropdown-menu extended logout">
							<% if current_user.role_id == 4 %>
							<li>
								<%= link_to '<i class="fa fa-fw fa-user"></i> &nbsp; Profile'.html_safe,edit_user_registration_path %>
							</li>
							<li>
								<%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Roles setup'.html_safe,roles_path %>
							</li>
							<li>
								<%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Service Categories'.html_safe,categories_path %>
							</li>
							<li>
								<%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Services setup'.html_safe,services_inventories_path %>
							</li>
							<li>
								<%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Lab Orders setup'.html_safe,lab_order_lists_path %> 
							</li>

							<li>
								<%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Users'.html_safe,users_path %>
							</li>
							<li>
								<%= link_to '<i class="fa fa-key"></i> &nbsp; Log out'.html_safe,destroy_user_session_path, :method=> 'delete' %>
							</li>
							<%else%>
							<li>
								<%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Users'.html_safe,users_path %>
							</li>
							<li>
								<%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Roles setup'.html_safe,roles_path %>
							</li>
							<li>
								<%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Service Categories'.html_safe,categories_path %>
							</li>
							<li>
								<%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Services setup'.html_safe,services_inventories_path %>
							</li>
							<li>
								<%= link_to '<i class="fa fa-fw fa-users"></i> &nbsp; Lab Orders setup'.html_safe,lab_order_lists_path %> 
							</li>
							<li>
								<%= link_to '<i class="fa fa-fw fa-user"></i> &nbsp; Profile'.html_safe,edit_user_registration_path %>
							</li>
							<li>
								<%= link_to '<i class="fa fa-key"></i> &nbsp; Log out'.html_safe,destroy_user_session_path, :method=> 'delete' %>
							</li>
							<%end%>

						</ul>
					</li>
					<!-- user login dropdown end -->

				</ul>
				<!--search & user info end-->
			</div>
		</header>
		<!--header end-->
		<!--sidebar start-->
		<aside>
			<div id="sidebar" class="nav-collapse">
				<!-- sidebar menu start-->
				<div class="leftside-navigation">
					<ul class="sidebar-menu" id="nav-accordion">
						<li>
							<!--  <a class="active" href="index.html"> -->
							<!--   <i class="fa fa-dashboard"></i> -->
							<!--  <span>Dashboard</span> -->

							<%= link_to '<i class="fa fa-dashboard"></i> &nbsp; Dashboard'.html_safe,root_path %> <!--   </a> -->
						</li>

						<% if current_user.role_id == 6 %>

						<li class="sub-menu">
							<a href="javascript:;"> <i class="fa fa-book"></i> <span>Receptionist</span> </a>
							<ul class="sub">

								<li>
									<%= link_to "Patients",patients_path %>
								</li>
								<li>
									<%= link_to 'Appointments'.html_safe,appointments_path %>
								</li>
								<li>
									<%= link_to 'Patients on admission'.html_safe ,admissions_path%>
								</li>
								<li>
									<%= link_to ' Discharged Patients'.html_safe ,discharged_list_path %>
								</li>
								<li>
									<%= link_to ' Bills'.html_safe,bill_temps_path %>
								</li>

							</ul>
						</li>

						<% elsif current_user.role_id == 3 %>
						<li class="sub-menu">
							<a href="javascript:;"> <i class="fa fa-user-md"></i> <span>Nurses</span> </a>
							<ul class="sub">

								<li>
									<%= link_to 'Assigned Patients', assign_patients_path %>
								</li>
								<li>
									<%= link_to 'Nurse Documents', basic_med_records_path %>
								</li>
								<li>
									<%= link_to 'Patients on admission'.html_safe ,nurse_admission_list_path%>
								</li>
								<!-- <li>
									<%#= link_to 'Discharged Patients'.html_safe ,discharged_list_nurses_path %>
								</li> -->
								<li>
									<%= link_to 'Bills'.html_safe,bill_temps_path %>
								</li>
								

							</ul>
						</li>

						<% elsif current_user.role_id == 1 %>
						<li class="sub-menu">
							<a href="javascript:;"> <i class="fa fa-stethoscope"></i> <span>Practitioner</span> </a>
							<ul class="sub">

								<li>
									<%= link_to 'Patients', assign_patients_path %>
								</li>
								<li>
									<%= link_to 'Appointments',doctor_appointment_path %>
								</li>
								<!--  <li> <%= link_to 'Orders', order_requests_path %></li>  -->

						</li>

						<% elsif current_user.role_id == 2 %>
						<li class="sub-menu">
							<a href="javascript:;"> <i class="fa fa-stethoscope"></i> <span> Laboratory </span> </a>
							<ul class="sub">

								<li>
									<%= link_to 'Lab Requests',other_lab_path %>
								</li>

								<li>
									<%= link_to 'Test Results',test_results_path %>
								</li>
								<!--  <li> <%#= link_to 'Bills' %></li>  -->

							</ul>
						</li>

						<% elsif current_user.role_id == 7 %>
						<li class="sub-menu">
							<a href="javascript:;"> <i class="fa fa-stethoscope"></i> <span> Radiology </span> </a>
							<ul class="sub">

								<!-- <li> <%#= link_to 'Ultrasound Requests',radiology_requests_path %></li>  -->
								<li>
									<%= link_to 'Orders', other_radio_path %>
								</li>
								<li>
									<%= link_to 'Test Results',test_results_path %>
								</li>
								<!-- <li> <%#= link_to 'Bills' %></li>  -->

							</ul>
						</li>

						<% elsif current_user.role_id == 5 %>

						<li class="sub-menu">
							<a href="javascript:;"> <!-- <i class="fa fa-capsules"></i> --> <i class="fa fa-stethoscope"></i> <span>Pharmacist</span> </a>
							<ul class="sub">

								<!--   <li> <%#= link_to 'Medication Requested',other_med_path %></li> -->
								<li>
									<!-- <%= link_to 'Orders', other_med_path %> -->
									<%= link_to 'Orders',medication_temps_path %>
								</li>
								<li>
								<%= link_to 'Bills',bill_temps_path %>
								<li>
									
							</ul>
						</li>

						<% elsif current_user.role_id == 8 %>

						<li class="sub-menu">
							<a href="javascript:;"> <!-- <i class="fa fa-capsules"></i> --> <i class="fa fa-stethoscope"></i> <span>Cashier</span> </a>
							<ul class="sub">

								<li>
									<%= link_to "Bills".html_safe,bill_temps_path %>
								</li>

							</ul>
						</li>

						<% else %>
						
						<% end%>

					</ul>
				</div>
				<!-- sidebar menu end-->
			</div>
		</aside>
		<!--sidebar end-->
		<!--main content start-->

		<%end%>

</body>
</html>
