





<!DOCTYPE html>
<html>
<head>
 
  <title>Britannia Medical System</title>
 <!--  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 
  <%= csrf_meta_tags %> -->

   <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script> 

   

<!-- bootstrap-css -->
<link rel="stylesheet" href="/assets/daterangepicker.css">
<link rel="stylesheet" href="/assets/fullcalendar.css">
<!-- <link rel="stylesheet" href="/assets/fullcalendar.min.css"> -->
<!-- <link rel="stylesheet" href="/assets/fullcalendar.print.css"> -->
<link rel="stylesheet" href="/assets/bootstrap.min.css" >
<!-- //bootstrap-css -->
<!-- Custom CSS -->
<link href="/assets/style.css" rel='stylesheet' type='text/css' />
<link href="/assets/style-responsive.css" rel="stylesheet"/>
<link href="/assets/lightbox.css" rel="stylesheet"/>
<!-- font CSS -->
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"> 

<!-- font-awesome icons -->
<link rel="stylesheet" href="/assets/font.css" type="text/css"/>
<link href="/assets/font-awesome.css" rel="stylesheet"> 
<link rel="stylesheet" href="/assets/morris.css" type="text/css"/> 
<!-- calendar -->
<link rel="stylesheet" href="/assets/monthly.css">
<!-- //calendar -->
<!-- //font-awesome icons -->
<script src="/assets/jquery2.0.3.min.js"></script>
<script src="/assets/raphael-min.js"></script>
<script src="/assets/morris.js"></script>

<script src="/assets/jquery.dcjqaccordion.2.7.js"></script>
<script src="/assets/scripts.js"></script>
<script src="/assets/script.js"></script>
<script src="/assets/jquery.slimscroll.js"></script>
<script src="/assets/jquery.nicescroll.js"></script>
<script src="/assets/jquery.scrollTo.js"></script>
<script src="/assets/jquery.fileupload.js"></script>
<script src="/assets/jquery.min.js"></script>
<script src="/assets/lightbox-plus-jquery.min.js"></script>
<script src="/assets/bootstrap.js"></script>

<script src="/assets/moment.js"></script>
<script src="/assets/fullcalendar.js"></script>
<!-- <script src="/assets/fullcalendar.min.js"></script> -->
<script src="/assets/full_calendar.js"></script> 
<script src="/assets/full_calendar2.js"></script> 
<script src="/assets/full_calendar_doctor.js"></script> 
<script src="/assets/daterangepicker.js"></script>



</head>
<body>
	
<%= render 'layouts/patients' %>

<%= yield %>
<div id='remote_container'></div>
<%#= render 'layouts/footer' %>
</body>
</html>

